.maincontainer_g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.placement-body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    max-width: 1200px;
    margin: 20px 0;
}

.slide-backbutton_g, .slide-button_g {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

.container_g {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.hidden {
    display: none;
}

.left-side, .right-side {
    flex: 1;
    margin: 10px;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.image-description {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.price_g {
    text-align: center;
    font-size: 18px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.discounted-price {
    color: #f00;
    font-weight: bold;
}

.main-heading, .sub-heading {
    margin: 10px 0;
}

.main-heading h1, .sub-heading h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-heading p, .sub-heading p {
    font-size: 16px;
    line-height: 1.5;
}
@media (max-width: 1400px){
    .maincontainer_g{
        width: 99%;
    }
    .placement-body{
        width: 1200px;
    }
}

@media (max-width: 1200px){
    .maincontainer_g{
        width: 98.5%;
    }
    .placement-body{
        width: 100%;
    }
}
@media (max-width: 768px){
    .container_g{
        flex-direction: column;
    }
}
@media (max-width: 320px){
    .placement-body{
        width: 90%;
    }
}
@media (max-device-width: 375px) and (max-device-height:667px){
    .placement-body{
        width: 90%;
    }
}
@media (max-device-width: 412px) and (max-device-height:915px){
    .placement-body{
        width: 90%;
    }
}
@media (max-device-width: 360px) and (max-device-height:740px){
    .maincontainer_g{
        width: 97%;
    }
}
